*{
  margin: 0px;
  padding: 0px;
}

header {
  margin: 25px 180px;
}

.nav-container ul{
  list-style: none;
}

:any-link{
  text-decoration: none;
  color: black;
}

.nav-container ul li{
  background-color: rgb(221, 146, 6);
  width: 180px;
  height: 60px;
  border: 5px solid white;
  line-height: 55px; 
  text-align: center;
  justify-content: center;
  float: right;
  color: black;
  font-size: 30px;
  border-radius: 10px;
  position: relative;
  padding-right: 10px;
  align-self: center;
}

.nav-container ul li:hover{
  background-color: lightgray;
}

.nav-container ul ul{
  display: none;
}

.nav-container ul li:hover > ul{
  display: block;
}

.logo{
  align-content: right;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  gap: 5px;
}

header{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
}

#logo{
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 36px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 25px;
}

.main-content{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
}

.main-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
}

.abt-top{
  grid-column-start: 1;
  grid-column-end: 5;
}

.abt-top{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
}

.top-p{
  grid-column-start: 1;
  grid-column-end: 5;
}

.frito{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 20px;
  padding: 10px;
}

.frito2{
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 20px;
  padding: 10px;
}

.top-p{
  text-align: center;
  margin: 20px;
  padding: 20px;
  line-height: 10px;
}

.abt-bottom{
  background-color: lightgray;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}

.abt-bottom > p{
  margin: 25px 15px;
  padding: 22px;
  font-size: 22px;
  line-height: 40px;
}

.abt-bottom > h1,h2{
  margin: 25px 15px;
  padding: 22px;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}