@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

body{
  font-family: 'Noto Sans', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

header {
  margin: 25px 25px;
}

.nav-container ul{
  list-style: none;
}

:any-link{
  text-decoration: none;
  color: white;
}

.nav-container ul li{
  background-color: rgb(221, 146, 6);
  width: 160px;
  height: 25px;
  border: 3px solid white;
  line-height: 25px; 
  text-align: center;
  justify-content: center;
  float: right;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  align-self: center;
}

.nav-container ul li:hover{
  background-color: rgba(10, 141, 193, 0.815);
}

.nav-container ul ul{
  display: none;
  position: absolute;
  z-index: 1;
}

.nav-container ul li:hover > ul{
  display: block;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  gap: 5px;
}

header{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
}

#logo{
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 36px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
}

.main-content{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
}

.main-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
}

.abt-top{
  grid-column-start: 1;
  grid-column-end: 5;
}

.abt-top{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  font-size: 28px;
  background-color: rgba(10, 141, 193, 0.815);
  color: white;
}

.top-p{
  grid-column-start: 1;
  grid-column-end: 5;
}

.frito{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 20px;
  padding: 10px;
}

.frito2{
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border-radius: 20px;
  padding: 10px;
}

.top-p{
  text-align: center;
  margin: 20px;
  padding: 20px;
  line-height: 10px;
}

.abt-bottom{
  background-color: rgb(221, 146, 6);
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-size: 28px;
  color: white;
}

.abt-bottom > p{
  margin: 2px 195px;
  padding: 22px;
  font-size: 24px;
  line-height: 40px;
}

.abt-bottom > h1,h2{
  margin: 25px 25px;
  padding: 22px;
  line-height: 55px;
  text-align: center;
}