body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .button,
  a {
    background-color: burlywood;
    padding-right: 15px;
    font-size: 35px;
    border: none;
    position: relative;
  }
  
  .navbar {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px;
  }
  
  .dropdown {
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    background-color: burlywood;
  }
  
  .navbar:hover .dropdown {
    display: block;
  }
  
  :any-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 90%;
    gap: 15px;
  }
  
  
  .header {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  .header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: burlywood;
    align-content: center;
    padding: 20px;
    justify-content: center;
  }
  
  #logo {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 40px;
  }
  
  nav {
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: right;
    justify-content: center;
    align-self: center;
    justify-items: center;
  }

  .donation-container{
    grid-column-start: 1;
    grid-column-end: 7;
  }

  .donation-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
