*{
  margin: 0px;
  padding: 0px;
}

header {
  margin: 25px 180px;
}

.nav-container ul{
  list-style: none;
}

:any-link{
  text-decoration: none;
  color: black;
}

.nav-container ul li{
  background-color: rgb(221, 146, 6);
  width: 180px;
  height: 60px;
  border: 5px solid white;
  line-height: 55px; 
  text-align: center;
  justify-content: center;
  float: right;
  color: black;
  font-size: 28px;
  border-radius: 10px;
  position: relative;
  padding-right: 10px;
  align-self: center;
}

.nav-container ul li:hover{
  background-color: lightgray;
}

.nav-container ul ul{
  display: none;
}

.nav-container ul li:hover > ul{
  display: block;
}

.logo{
  align-content: right;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  gap: 5px;
}

header{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
}

#logo{
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 36px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 25px;
}

.announcements{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 25px;
}

.announcements{
  display: flexbox;
  background-color: lightgray;
}

.announcements >div{
  margin: 20px 5px;
  padding: 20px;
  font-size: 20px;
  line-height: 40px;
}

.announcements> h1, h2{
  line-height: 70px;
}

.featured{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  padding: 25px;
}

.featured{
  display: flexbox;
  background-color: lightgray;
}

.featured >div{
  margin: 50px 5px;
  padding: 20px;
  line-height: 80px;
}

.circle{
  max-width: 100%;
  border-radius: 90%;
  padding: 8px;
}

.footer{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer{
  display: grid;
  grid-template-columns: 36% auto 40%;
  gap: 5px;
}

.footer div{
  padding: 15px;
  background-color: lightgray;
}

.info{
  display: flexbox;
 }

 .info div{
  margin: 8px 3px;
  padding: 5px;
  font-size: 20px;
  line-height: 40px;
  width: 100%;
 }

 .donate{
  display: flexbox;
 }
 
 .donate >div{
  margin: 20px 5px;
  padding: 20px;
  font-size: 20px;
  line-height: 40px;
 }

 .news-email{
  display: flexbox;
 }

 .news-email >div{
  margin: 20px 5px;
  padding: 20px;
  font-size: 20px;
  line-height: 40px;
 }

 #donation-button button{
  background-image: linear-gradient(to right, rgba(26, 151, 200, 0.86), rgba(100, 188, 223, 0.86), rgba(198, 178, 145, 0.86), rgb(222, 184, 135));
  box-shadow: 0 4px 15px 0 rgba(158, 210, 210, 0.75);
  width: 350px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  text-align: center;
  border-color: lightgrey;
  border-radius: 50px;
}

#submit-button{
  background-image: linear-gradient(to right, rgba(26, 151, 200, 0.86), rgba(100, 188, 223, 0.86), rgba(198, 178, 145, 0.86), rgb(222, 184, 135));
  box-shadow: 0 4px 15px 0 rgba(158, 210, 210, 0.75);
  width: 150px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  text-align: center;
  border-color: lightgrey;
  border-radius: 50px;
  gap: 10px;
}

form{
  text-align: center;
  box-sizing: border-box;
  margin: 10px 5px;
  padding: 10px;
  font-size: 25px;
  line-height: 30px;
}

form input{
  width: 45%;
  padding: 8px;
  border: 1px solid lightgrey;
}

form label{
  padding: 10px;
  display: inline-block;
}


