body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button,
a {
  background-color: burlywood;
  padding-right: 15px;
  font-size: 35px;
  border: none;
  position: relative;
}

.navbar {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px;
}

.dropdown {
  padding: 12px 16px;
  color: black;
  text-decoration: none;
  background-color: burlywood;
}

.navbar:hover .dropdown {
  display: block;
}

:any-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 12% auto;
  gap: 8px;
}

.Header{
  grid-column-start: 1;
  grid-column-end: 7;
}

.Header{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: burlywood;
  align-content: center;
  padding: 20px;
  justify-content: center;
}

#logo{
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 40px;
}

nav{
  grid-column-start: 3;
  grid-column-end: 6;
  text-align: right;
  justify-content: center;
  align-self: center;
  justify-items: center;
}

.announcements{
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 20px;
}

.announcements{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 25% 24% 34%;
  background-color: rgba(26, 151, 200, 0.86);
  row-gap: 2vh;
  overflow: hidden;
}

#vacs{
  grid-row-start: 4;
  grid-row-end: 5;
}

.announcements div{
  background-color: rgba(26, 151, 200, 0.86);
  padding: 15px;
}

.featured{
  grid-column-start: 4;
  grid-column-end: 7;
  background-color: rgba(26, 151, 200, 0.86);
  padding: 20px;
}

.footer{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
}

.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.footer div{
  padding: 15px;
  background-color: burlywood;
}

.circle{
  max-width: 80%;
  height: auto;
  border-radius: 90%;
  padding: 22px;
}

.pic-container{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{text-align: center;
   font-size: 40px;
   word-wrap: break-word;
  }

 .donate{
  display: grid;
  grid-template-rows: 15% 1fr 1fr 1fr 1fr;
 } 

 .top-box{
  grid-row-start: 1;
  grid-row-end: 2;
 }

#donate-box{
  grid-row-start: 4;
  grid-row-end: 5;
}

.donate a{
  grid-row-start: 5;
  grid-row-end: 6;
}

 #donation-button button{
  background-image: linear-gradient(to right, rgba(26, 151, 200, 0.86), rgba(100, 188, 223, 0.86), rgba(198, 178, 145, 0.86), rgb(222, 184, 135));
  box-shadow: 0 4px 15px 0 rgba(158, 210, 210, 0.75);
  width: 350px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  text-align: center;
  border-color: lightgrey;
  border-radius: 50px;
}

.donate a{
  text-align: center;
}

form{
  text-align: center;
  box-sizing: border-box;
}

form label{
  padding: 12px;
  display: inline-block;
}

form input{
  width: 50%;
  padding: 8px;
  border: 1px solid lightgrey;
}
#submit-button{
  background-image: linear-gradient(to right, rgba(26, 151, 200, 0.86), rgba(100, 188, 223, 0.86), rgba(198, 178, 145, 0.86), rgb(222, 184, 135));
  box-shadow: 0 4px 15px 0 rgba(158, 210, 210, 0.75);
  width: 150px;
  font-size: 20px;
  font-weight: 550;
  cursor: pointer;
  padding: 15px;
  height: 50px;
  text-align: center;
  border-color: lightgrey;
  border-radius: 50px;
  gap: 10px;
}

