@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

body{
  font-family: 'Noto Sans', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

header {
  margin: 25px 25px;
}

.nav-container ul{
  list-style: none;
}

:any-link{
  text-decoration: none;
  color: white;
}

.nav-container ul li{
  background-color: rgb(221, 146, 6);
  width: 190px;
  height: 45px;
  border: 5px solid white;
  line-height: 40px; 
  text-align: center;
  justify-content: center;
  float: right;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  position: relative;
  padding: 15px;
  align-self: center;
}

.nav-container ul li:hover{
  background-color:  rgba(10, 141, 193, 0.815);
}

.nav-container ul ul{
  display: none;
  position: absolute;
  z-index: 1;
}

.nav-container ul li:hover > ul{
  display: block;
}

.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  gap: 5px;
}

header{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
}

#logo{
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 36px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 25px;
}

.announcements{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 25px;
  color: white;
}

.announcements{
  background-color:  rgb(221, 146, 6);
  font-size: 28px;
}

.announcements >div{
  margin: 20px 5px;
  padding: 20px;
  line-height: 40px;
}

.announcements > div> p{
  font-size: 24px;
  line-height: 45px;
}

.announcements> h1, h2{
  line-height: 85px;
}

.featured{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  padding: 25px;
}

.featured{
  background-color: rgba(10, 141, 193, 0.815);
  font-size: 28px;
  color: white;
}

.featured >div{
  margin: 80px 10px;
  padding: 20px;
  line-height: 90px;
}

.circle{
  max-width: 100%;
  border-radius: 90%;
  padding: 8px;
}

.footer{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer{
  display: grid;
  grid-template-columns: 34% auto 30%;
  gap: 5px;
}

.footer div{
  padding: 15px;
}

.info{
  background-color: rgba(10, 141, 193, 0.815);
  color: white;
 }

 .info> div{
  margin: 10px 5px;
  padding: 5px;
  width: 100%;
  font-size: 24px;
  line-height: 110px;
 }

 .info>div>p{
  line-height: 40px;
  font-size: 24px;
 }
 
 .donate >div{
  margin: 10px 5px;
  padding: 5px;
  line-height: 115px;
  font-size: 24px;
  text-align: center;
 }

 .donate{
  background-color: rgb(221, 146, 6);
  color: white;
 }

 .news-email{
  font-size: 23px;
  background-color: rgba(10, 141, 193, 0.815);
  color: white;
 }

 .news-email h1{
  width: fit-content;
  line-height: 50px;
  padding: 15px;

 }

 #donation-button{
  background-image: linear-gradient(to right, rgba(26, 151, 200, 0.86), rgba(100, 188, 223, 0.86), rgba(198, 178, 145, 0.86), rgb(222, 184, 135));
  box-shadow: 0 4px 15px 0 rgba(158, 210, 210, 0.75);
  width: 350px;
  font-size: 28px;
  font-weight: 550;
  cursor: pointer;
  padding: 15px;
  height: 60px;
  text-align: center;
  border-color: darkgrey;
  border-radius: 50px;
}

#submit-button{
  background-image: linear-gradient(to right, rgba(26, 151, 200, 0.86), rgba(100, 188, 223, 0.86), rgba(198, 178, 145, 0.86), rgb(222, 184, 135));
  box-shadow: 0 4px 15px 0 rgba(158, 210, 210, 0.75);
  width: 150px;
  font-size: 28px;
  font-weight: 550;
  cursor: pointer;
  padding: 15px;
  height: 60px;
  text-align: center;
  border-color: darkgrey;
  border-radius: 50px;
}

.form1{
  text-align: center;
  box-sizing: border-box;
  margin: 60px 5px;
  padding: 20px 5px;
  font-size: 28px;
  line-height: 30px;
}

form input{
  width: 60%;
  padding: 12px;
  font-size: 24px;
  border: 1px solid darkgrey;
}

form label{
  padding: 10px;
  display: inline-block;
}


