body{font-family: Arial, Helvetica, sans-serif;}

.button, a{
    background-color: burlywood; padding: 16px; font-size: 16px; border: none;}

.navbar {position: relative; display: inline-block;}

.dropdown {
    display: none; position: absolute; min-width: 100px; box-shadow: 0px 8px 16px 0px;}

.dropdown a {
    padding: 12px 16px; display: block; color: black; text-decoration:none; background-color: burlywood;}

.navbar:hover .dropdown {display: block;}

:any-link{text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: black}

.container{
    display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr;
}

.Header{grid-column-start: 1; grid-column-end: 6;}

.Header{
    display: grid; grid-template-columns: 1fr 1fr 1fr; background-color: burlywood; align-content: center; padding: 20px; justify-content: center;
}

.Get{grid-column-start: 1; grid-column-end: 3;}

.img{grid-column-start: 3; grid-column-end: 5;}